---
---
* {
	box-sizing: border-box;
	border: 0;
}

body {
	background-color: #f8f8ff;
	margin: 0;
	padding: 0;
	font: 18px 'Inter', sans-serif;
	color: #214;
	line-height: 1.7;
}

header {
	position: fixed;
	width: 100%;
	background: rgb(243 239 250 / 0.92);
}

.container-lg {	
	max-width: 800px;
	padding: 15px 0;
	margin: auto;
	line-height: 1.6;
}

main.container-lg {
	padding: 80px 0;
}

a {
	color: #4B6CE2;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.markdown-body {
	h1 {
		font-family: 'Source Serif Pro', serif;
		font-size: 60px;
		font-weight: 400;
		line-height: 1.4;
		margin-bottom: 40px;
	}
	h2 {
		font-size: 28px;
		margin-bottom: 16px;
	}
	h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 16px;
	}
	blockquote {
		margin: 0;
		font-size: 14px;
		color: #555;
		border-left: 4px solid #ddd;
		padding-left: 20px;
	}
	img {
		width: 100%;
		margin: 16px 0;
	}
	li {
		margin-bottom: 6px;
	}
}

footer {
	background: #fefdff;
	text-align: center;
}
